<h1>Users#new</h1>
<p>Find me in app/views/users/new.html.erb</p>

<%= form_for @user do |f| %>

    <div class="form-group">
      <%= f.label "User" %>
      <%= f.text_field :nik_name, placeholder: "User",  title: "Login" %>


      <%= f.label :email %>
      <%= f.email_field :email, placeholder: "Hans.Müller@mail.com", title: t('user.email') %>
    </div>

    <div class="form-group">
      <%= f.label t('user.forename') %>
      <%= f.text_field :forename,  title: t('user.forename')  %>

      <%= f.label t('user.surname') %>
      <%= f.text_field :surname,  title: t('user.surname') %>
    </div>


    <div class="form-group">
      <%= f.label :password%>
      <%= f.password_field :password, placeholder: "***",  title: t('user.password') %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation%>
      <%= f.password_field :password_confirmation, placeholder: "***", title: t('user.password_confirmation') %>
    </div>


    <div class="form-group form-button text-center">
      <%= f.submit class: "button" %>
    </div>
<% end %>
